/* Kathryne's Steaks */

@media only screen and (max-width: 1340px){
	.page-wrapper{
		overflow:hidden;	
	}
}

@media only screen and (max-width: 1240px){
	.main-container,
	.main-header .header-container{
		margin:0px 15px;	
	}
}


@media only screen and (min-width: 1025px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
	
	.main-header .main-menu .navbar-outer{
		display:block !important;	
	}
}

@media only screen and (max-width: 1023px){
	.header-span{
		display:none !important;	
	}
	
	.main-header{
		position:relative !important;	
	}
	
	.main-header .header-upper{
		padding:30px 0px 25px;	
	}
	
	.main-header .header-upper .logo-box{
		display:block;
		padding:0px ;
		margin-bottom:30px;	
	}
	
	.main-header .header-upper .nav-header{
		position:relative;
		display:block;
		width:100%;
		padding:4px 10px;
		background:#f2f2f2;
		border-radius:3px;
	}
	
	.main-header .header-upper .nav-header .nav-text{
		position:relative;
		float:left;
		font-size:14px;
		text-transform:capitalize;
		font-weight:600;
		color:#333333;
		line-height:24px;	
	}
	
	.main-header .header-upper .nav-header .nav-toggler{
		position:relative;
		width:24px;
		height:24px;
		display:table;
		float:right;
		vertical-align:middle;
		background:none;
	}
	
	.main-header .header-upper .nav-header .nav-toggler .icon-bar{
		position:relative;
		display:block;
		border-bottom:2px solid #cd5c5c;
		width:100%;
		border-radius:1px;
	}
	
	.main-header .header-upper .nav-header .nav-toggler .icon-bar:nth-child(2){
		margin:5px 0px;	
	}
	
	.main-header .main-menu .navbar-outer{
		position:absolute;
		left:0px;
		top:57px;
		width:100%;
		height:auto;
		padding:30px;
		border-top:3px solid #cd5c5c;
		background:#ffffff;
		display:none;	
	}
	
	.main-menu .navigation{
		display:block;
		margin:0px;
		padding:0px;	
	}
	
	.main-menu .navigation > li,
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li{
		position:relative;
		display:block;
		width:100%;
		margin:0px;
		padding:0px;
		border:none;
		visibility:visible;
		opacity:1;
		top:0px;
		left:0px;
		-webkit-border-radius:0px;
		-ms-border-radius:0px;
		-o-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
		transition:none !important;
		-webkit-transition:none !important;
		-ms-transition:none !important;
		-o-transition:none !important;
		-moz-transition:none !important;
		-webkit-transform:scale(1) !important;
		-ms-transform:scale(1) !important;
		-o-transform:scale(1) !important;
		-moz-transform:scale(1) !important;
		transform:scale(1) !important;
		-webkit-box-shadow:none;
		-ms-box-shadow:none;
		-o-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;	
	}
	
	.main-menu .navigation > li > ul > li{
		width:auto;
		margin-left:30px;
		border-bottom:1px solid #f0f0f0;	
	}
	
	.main-menu .navigation > li{
		border-bottom:1px solid #f0f0f0;	
	}
	
	.main-menu .navigation > li:last-child,
	.main-menu .navigation > li.dropdown > ul > li:last-child{
		border-bottom:none;	
	}
	
	.main-menu .navigation > li > a{
		padding:5px 25px !important;	
	}
	
	.main-menu .navigation > li > ul > li:hover > a,
	.main-menu .navigation > li:hover > a{
		background:#f7f7f7;
		color:rgba(0,0,0,0.60);
	}
	
	.main-menu .navigation > li.dropdown > a{
		background:#f2f2f2;
		font-weight:600;
		color:#333333;
	}
	
	.main-menu .navigation > li.logo,
	.main-menu .navigation > li > a:before,
	.main-menu .navigation > li > a:after{
		display:none !important;	
	}
	
	.welcome-section .lower-content .offering-column .inner{
		padding-left:0px;	
	}
	
	.main-container .auto-container,
	.main-header .header-container .auto-container{
		padding:0px 40px;
	}
}

@media only screen and (max-width: 767px){
	
	.welcome-section .sec-title h2{
		font-size:24px;
		line-height:1.3em;	
	}
	
	.main-footer .footer-bottom{
		text-align:center;	
	}
}

@media only screen and (max-width: 599px){
	
	
	.main-container .auto-container,
	.main-header .header-container .auto-container{
		padding:0px 30px;
	}
	
	.main-header .header-top .top-left,
	.main-header .header-top .top-right{
		width:100%;
		text-align:center;
	}
	
	.main-header .header-top .top-left ul li,
	.main-header .header-top .top-right ul li{
		display:inline-block;
		float:none;
		margin:0px 10px;	
	}
	
	.main-header .main-menu .navbar-outer{
		padding:15px;	
	}
	
	.main-menu .navigation > li > ul > li{
		margin-left:15px;	
	}
	
	.main-menu .navigation > li > a,
	.main-menu .navigation > li > ul > li > a{
		padding-left:15px !important;
		font-size:13px;
	}
}

@media only screen and (max-width: 479px) {
	
	.welcome-section .lower-content .menu-listing .menu-item{
		width:100% !important;	
	}
	
	
}
