/* Bestiala */

@media only screen and (max-width: 1340px){
	.page-wrapper{
		overflow:hidden;	
	}
}

@media only screen and (max-width: 1200px){
	.main-menu .navigation > li{
		margin:0px 12px;	
	}
	
	.main-header .header-container .right-links li{
		margin-left:15px;
		font-size:16px;	
	}
	
	.main-header .header-container{
		padding-right:310px;
	}
	
	.the-family-section .content-box h2,
	.sec-title h2{
		font-size:42px;	
	}
}

@media only screen and (max-width: 1140px){
	.main-menu .navigation > li{
		margin:0px 8px;	
	}
	
	.main-header .header-container .right-links li{
		margin-left:12px;	
	}
	
	.the-family-section .content-box,
	.the-family-section .content-box .table-box{
		height:500px;	
	}
	
	.the-food-section .food-column .content-box,
	.the-food-section .food-column .content-box .table-box{
		height:420px;	
	}
}

@media only screen and (min-width: 1024px){
	.mobile-nav.nav-visible{
		left:-320px;	
	}
}

@media only screen and (max-width: 1023px){
	.main-header .main-menu,
	.main-header .right-links{
		display:none;	
	}
	
	.main-header .header-container{
		padding:21px 50px;
	}
	
	.main-header .mobile-nav-btn{
		display:block;	
	}
	
	.main-header .header-container .logo-box{
		position:relative;
		float:left;
		margin:0px;
		top:0px;
		left:0px;	
	}
	
	.main-header .mobile-nav-btn{
		position:relative;
		float:right;
		margin:0px;
		top:0px;
		right:0px;	
	}
	
	.the-family-section .content-box,
	.the-family-section .content-box .table-box{
		height:340px;	
	}
	
	.the-food-section .food-column .content-box,
	.the-food-section .food-column .content-box .table-box{
		height:280px;	
	}
}

@media only screen and (max-width: 767px){
	.the-family-section .content-box h2,
	.sec-title h2{
		font-size:32px;	
	}
	
	.main-header .header-container{
		padding:21px 15px;
	}
	
	.main-footer{
		padding:0px;	
	}
	
	.main-footer .footer-container{
		padding:30px 15px 0px;
	}
	
	.the-family-section .content-box,
	.the-family-section .content-box .table-box{
		height:500px;	
	}
	
	.the-food-section .food-column .content-box,
	.the-food-section .food-column .content-box .table-box{
		height:500px;	
	}
	
}

@media only screen and (max-width: 599px){
	
	
	.the-family-section .content-box,
	.the-family-section .content-box .table-box{
		height:400px;	
	}
	
	.the-food-section .food-column .content-box,
	.the-food-section .food-column .content-box .table-box{
		height:450px;	
	}
}

@media only screen and (max-width: 479px) {
	
	.the-food-section .food-column .content-box,
	.the-food-section .food-column .content-box .table-box{
		height:280px;	
	}
	
	
}
